
h1 {
  font-size: 48px;
}





.used {
  cursor: default;
}

.square.used:hover {
  background-color: #ffffff;
  transition: all 0.25s;
}

.square.win,
.square.win:hover {
  background-color: #696969;
  color: #ffffff;
  cursor: default;
}

.square.over {
  cursor: default;
  background-color: #ffffff;
}

.info {
  width: 50vw;
  margin-top: 2em;
  display: flex;
  justify-content: space-between;
  font-size: 24px;
  text-align: center;
}

.bold {
  font-weight: bold;
}

.alert {
  border-radius: 1em;
  border: 3px solid #a1a1a1;
  transition: all 0.25s;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  z-index: 1000;
  top: -15vh;
  height: 5vh;
  width: 30vw;
  background: #ffff;
}

.alert.active {
  color: #4d4d4d;
  transition: all 0.25s;
  top: 5vh;
}

.alert.win {
  border: 3px solid #24ab47;
}
.alert.invalid {
  border: 3px solid #d92631;
}
.alert.reset,
.alert.cat {
  border: 3px solid #fae543;
}


.settings {
  position: absolute;
  width: 40vw;
  height: clamp(30vh, 50vh, 80vh);
  z-index: 1001;
  border: #3498db 3px solid;
  background: white;
  font-size: 1.5em;
  padding: 2em;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0px 0px 24px 0px rgba(0, 0, 0, 0.17);
}

.settings-inner {
  height: 100%;
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.save-changes {
  color: #ffffff;
  background: #3498db;
  transition: all 0.25s;
}

.reset-score {
  color: white;
  background-color: #f3515c;
  border-color: #f3515c;
  font-size: 16px;
}

.rename {
  font-family: Arial;
  color: #4d4d4d;
  font-size: 20px;
  border: 1px solid #4d4d4d;
  background: white;
  padding: 10px 12px 10px 12px;
}

.setting {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
}

.setting.autoReset {
  font-size: 17px;
}

.option {
  font-family: Arial;
  color: #4d4d4d;
  border: 1px solid #4d4d4d;
  background: white;
}
